{% extends 'bootstrap/base.html'%}

{% block head%}
    {{ super()}}
    <meta http-equiv="refresh" content="20">
    <title> {% block title%} Flask Prueba | {%endblock%} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock%}
    
{% block body%}
    {%block navbar%}
        {%include 'navbar.html'%}
    {% endblock %}

    {%for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" data-dismiss="alert" class="close">&times;</button>
            {{message}}
        </div>
    {% endfor %}

    {% block content %}
    {% endblock %}
    {% block scripts %}
        {{ super()}}
    {% endblock %}
{% endblock%}
