<aside id="sidebar">
  <div class="sidebar-title">
      <div class="sidebar-brand">
          <img src="{{ url_for('static', filename='images/Freezo.png') }}" alt="logo" href="#">
      </div>
      <span class="material-icons-outlined" onclick="closeSidebar()">close</span>                      
  </div> 

  <ul class="sidebar-list">
    <li class="sidebar-list">
      <a class="nav-link" href="{{url_for('dashboard')}}">Dashboard </a>
    </li>
    <li class="sidebar-list">
      <a class="nav-link" href="{{url_for('viz')}}">Visualización </a>
    </li>
    <li class="sidebar-list">
      <a class="nav-link" href="{{url_for('historic')}}">Datos Historicos</a>
    </li>
  </ul>
</aside>

<script>
  var sidebarOpen = false;
  var sidebar = document.getElementById("sidebar");

  function openSidebar() {
      if (!sidebarOpen) {
          sidebar.classList.add("sidebar-responsive");
          sidebarOpen = true;
      }
  }

  function closeSidebar() {
      if (sidebarOpen) {
          sidebar.classList.remove("sidebar-responsive");
          sidebarOpen = false;
      }
  }
</script>
