{% extends 'base.html' %}

{% block content %}
    <h1>Tabla de Datos</h1>
    
    <form method="GET" action="{{ url_for('viz') }}">
        <label for="refri">Seleccione un Refri:</label>
        <select name="refri" id="refri">
            {% for refri in refris %}
                <option value="{{ refri }}" {% if refri == selected_refri %} selected {% endif %}>{{ refri }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Submit">
    </form>
    <div style="overflow-y: auto; max-height: 300px;">
        {{ tabla_html | safe }}
    </div>

    <h1>Gráfica de Datos para Refri {{ selected_refri }}</h1>
    {{ plot | safe }}
    
    <div style="margin-top: 20px;">
        <h3>Latest Temperature: {{ latest_temperature }}°C</h3>
        <p>Latest Date: {{ latest_date }}</p>
    </div>
{% endblock %}