
html * {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav{
    background-color: aliceblue;
    
}

.nav-item{
    margin-left :35px ;
    margin-bottom: auto;
    margin-top: auto;
    height: max-content;
}

.imagen_t{
    width: 68px;
    height: auto;
}

iframe {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    margin-top: 6%;
    margin-left: 3%;
    margin-right: 3%;
}

