
html * {
    font-family: 'Raleway', sans-serif;

}

nav{
    background-color: rgab;
}

.nav-item{
    margin-left :35px ;
    font-size: 1.8rem;
    margin-top:3%;
}

.navbar {
    margin-bottom: 0 !important;
}

.navbar-nav.mr-auto li {
    font-size: 1.8rem;
    margin-top:3%;
    margin-right: 0; /* Elimina el espacio derecho para el enlace de Login */
}

iframe {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    margin-top: 6%;
    margin-left: 3%;
    margin-right: 3%;
}


/*codigo de login*/

.fondo{
    background: linear-gradient(#1358a6, #321335);
    transition: all .5s;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.veen{
    width: 70%;
    background: rgba(255,255,255,.3);
    min-height: 400px;
    display:table;
    position: relative;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    border: 0.5px solid rgba(255, 255, 255, 0.3);
}
.veen > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color:white;

}
#name{
    margin-top:3%;
    background-color:rgba(170, 178, 228, 0.53);
    border-radius: 8px;
    border-color: #0B3D76;
    border: none;
}

.veen button{
    background: transparent;
    display: inline-block;
    padding: 10px 30px;
    border: 3px solid #fff;
    border-radius: 50px;
    background-clip: padding-box;
    position: relative;
    color: #FFF;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    transition: all .25s;
    font-size: 1.8rem;
}
#imgFreezoAma{
    margin-top: 80%;
}

.veen button:hover{
    box-shadow: 0 4px 4px #ffffff, 0 4px 8px #ffff;
    border: 5px solid #fff;
}


.veen button.dark{
    border-color: #0B3D76;
    background: #0B3D76;
    margin-top:4%;
}
.veen .move button.dark{
    border-color: #0B3D76;
    background: #0B3D76;
}
.veen .splits p{
    font-size: 2.2rem;
    margin-bottom: 3%;
}
.veen button:active{
    box-shadow: none;			
}
.veen button:focus{
    outline: none;			
}
.veen > .wrapper {
    position: absolute;
    width: 42%;
    height: 120%;
    top: -10%;
    left: 10%;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    transition: all .5s;
    color: #303030;
    overflow: hidden;
    
}
.veen .wrapper > form{
    padding: 15px 30px 100px;
    width: 100%;
    transition: all .5s;
    background: rgba( 255, 255, 255, 1 );
    width: 100%; 
    
}
.veen .wrapper > form:focus{
outline: none;
}
.veen .wrapper #login{
    padding-top: 20%;
    visibility: visible;
}
.veen .wrapper #register{
    margin-top: -25%;
    visibility: visible;
}

.veen .wrapper #register{
    transform: translateY(-80%) translateX(100%);
visibility: hidden;
}
.veen .wrapper.move #register{
    transform: translateY(-80%) translateX(0%);
visibility: visible;
}
.veen .wrapper.move #login{
    transform: translateX(-100%);
visibility: hidden;
}
.veen .wrapper > form > div {
    position: relative;
    margin-bottom: 15px;
}
.veen .wrapper label{
    position: absolute;
    top: -7px;
    font-size: 12px;
    white-space: nowrap;
    background: #FFF;
    text-align: left;
    left: 15px;
    padding: 0 5px;
    color: #999;
    pointer-events: none;
}
.veen .wrapper h3{
    margin-bottom: 25px;
    font-weight: 600;
    letter-spacing: 2px;
}
.veen .wrapper input{
    height: 40px;
    padding: 5px 15px;
    width: 100%;
    border: solid 1px #999;
}
.veen .wrapper input{
    height: 40px;
    padding: 5px 15px;
    width: 100%;
    border: solid 1px #999;
}
.veen .wrapper input:focus{
    outline: none;
    border-color: #0B3D76;
}
.veen > .wrapper.move{
    left: 45%;
}
.veen > .wrapper.move input:focus{
    border-color: #0B3D76;
}
@media (max-width: 767px){
    .veen{
        padding: 5px;
        margin: 0;
        width: 100%;
        display: block;
    }
    .veen > .wrapper{
        position: relative;
        height: auto;
        top: 0;
        left: 0;
        width: 100%;
    }
    .veen > div{
        display: inline-block;
    }
    .splits{
        width: 50%;
        background: #fff;
        float: left;
    }
    .splits button{
        width: 100%;
        border-radius: 0;
        background: #505050; 
        border: 0;
        opacity: .7;
    }
    .splits button.active{
        opacity: 1;
    }
    .splits button.active{
        opacity: 1;
        background: #0B3D76;
    }
    .splits.rgstr-btn button.active{
        background: #0B3D76;
    }
    .splits p{
        display: none;
    }
    .veen > .wrapper.move{
        left: 0%;
    }
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
box-shadow: inset 0 0 0 50px #fff
}

